.card-student-smk {
  background-color: darkorange;
  padding: 10px;
  margin-inline: auto;
  border-radius: 20px;
}

.card-student-smp {
  background: rgb(57, 38, 101);
  padding: 10px;
  margin-inline: auto;
  border-radius: 20px;
}

.inner-card {
  /* background: white; */
  border-radius: 10px;
  padding: 40px;
}

.logo-yatindo {
  width: 70px;
  position: absolute;
  left: 0;
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: bold;
  text-align: center;
  margin-inline: auto;
  font-size: 20px;
}

.divider-smk {
  border-color: darkorange;
}

.divider-smp {
  border-color: rgb(57, 38, 101);
}

.biodata {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile {
  width: 150px;
  height: 180px;
}

.biodata-detail {
  width: 100%;
  margin-block: 30px;
  /* margin-right: 10px; */
  margin-left: 20px;
}

.biodata-detail table {
  width: 100%;
}

.table {
  width: 100%;
}

.detail-pendaftaran {
  margin-top: 10px;
  width: 100%;
}

.td {
  padding-block: 5px;
  padding-left: 5px;
  margin-left: auto;
  text-align: left;
  vertical-align: top;
  min-width: 10rem;
}
